body {
  font-family: Arial, sans-serif;
}

#taxonomy-tree {
  list-style: none;
  padding: 0;
  margin: 0;
}

#taxonomy-tree li {
  padding: 10px;
  border: 1px solid #ccc;
  background-color: #f3f3f3;
}

#taxonomy-tree li.open {
  background-color: #fff;
}

#taxonomy-tree ul {
  display: none;
}

#taxonomy-tree li.open > ul {
  display: block;
}
