#taxonomy-tree {
  list-style: none;
  padding: 0;
  margin: 0;
}

#taxonomy-tree li {
  display: block;
  position: relative;
  float: left;
  clear: both;
  padding: 5px;
  margin: 5px;
}

#taxonomy-tree ul ul {
  display: none;
  position: absolute;
  top: 0;
  left: 100%;
}

#taxonomy-tree li:hover > ul {
  display: block;
}
