$primary-color: #333;

.tree {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tree__node {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.tree__node-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tree__node-text {
  font-size: 16px;
  font-weight: 600;
  margin: 20px;
  color: $primary-color;
}

.tree__node-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}

.tree__node-link:hover + .tree__node-children {
  display: flex;
}

.tree__node-children {
  display: none;
  flex-direction: column;
}

.logo {
  width: 150px;
  height: 150px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  margin-bottom: 20px;
}
