.caret {
  list-style-type: none;
  margin: auto;
}

ul {
    list-style-type: none;
    border-left: 1px solid black;
    padding: 0;
    margin: 0;
    padding-left: 35px;
}

ul li {
    position: relative;
    text-transform: capitalize;
    list-style-type: none;
}

ul li:before {
    content: '';
    list-style-type: none;
    position: absolute;
    top: 12px;
    left: -35px;
    background: black;
    height: 1px;
    width: 32px;
}

.nested {
    display: none;
}

.active {
    display: block;
}

input {
    overflow: visible;
    border: none;
}

.fa {
    pointer-events: none;
}

.parent-image {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  width: 50%;
  border: 3px solid black;
}

.group-image {
  border-radius: 50%;
  border: 2px solid black;
  max-width: 10%;
  height: auto;
}